body {
    font-family: Arial, sans-serif;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#quizContainer {
    margin: 20px;
}

#timer {
    font-size: 20px;
    margin-bottom: 10px;
}

#questionTitle {
    font-size: 24px;
    margin-bottom: 10px;
}

#optionsList {
    list-style: none;
    padding: 0;
}

#optionsList li {
    margin: 10px 0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
}

#resultCard {
    margin-top: 20px;
    font-size: 20px;
}

button.active {
    background-color: #4CAF50;
    color: rgb(111, 18, 18);
}